# Editor backups
*bak
*~

# autoconf / automake
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/

# shared libraries
*.l[ao]

# static libraries
*.a

# executables
*.o